<div class="tab-pane " id="specification">
  <ul class="productinfo">
    <li>
    <span class="productinfoleft"> Brand:</span> Apple </li>
    <li>
    <span class="productinfoleft"> Product Code:</span> Product 16 </li>
    <li>
    <span class="productinfoleft"> Reward Points:</span> 60 </li>
    <li>
    <span class="productinfoleft"> Availability: </span> In Stock </li>
    <li>
    <span class="productinfoleft"> Old Price: </span> $500.00 </li>
    <li>
    <span class="productinfoleft"> Ex Tax: </span> $500.00 </li>
    <li>
    <span class="productinfoleft"> Product Code:</span> Product 16 </li>
    <li>
    <span class="productinfoleft"> Reward Points:</span> 60 </li>
    <li>
    <span class="productinfoleft"> Availability: </span> In Stock </li>
    <li>
    <span class="productinfoleft"> Old Price: </span> $500.00 </li>
    <li>
    <span class="productinfoleft"> Ex Tax: </span> $500.00 </li>
    <li>
    <span class="productinfoleft"> Ex Tax: </span> $500.00 </li>
    <li>
    <span class="productinfoleft"> Product Code:</span> Product 16 </li>
    <li>
    <span class="productinfoleft"> Reward Points:</span> 60 </li>
  </ul>
</div>

