<section id="product">
<div class="container">

  <!-- Product Details-->
  <div class="row">
    <%= render :partial => "spree/products/product_images" %>
    <%= render :partial => "spree/products/product_description" %>
  </div>

  <!-- Product Description tab & comments-->

</div>
</section>
