<li class="dropdown hover topcart">
<%= link_to_cart_own_style %>
<ul class="dropdown-menu topcartopen">
  <li>
  <table>
    <tbody>
      <tr>
        <td class="image">
          <%= link_to image_tag('store/product-40x40.jpg', :height => "50", :width => "50"), root_path %>
        </td>
        <td class="name"><a href="product.html">MacBook</a></td>
        <td class="quantity">x&nbsp;1</td>
        <td class="total">$589.50</td>
        <td class="remove"><i class="icon-remove"></i></td>
      </tr>
      <tr>
        <td class="image">
          <%= link_to image_tag('store/product-40x40.jpg', :height => "50", :width => "50"), root_path %>
        </td>
        <td class="name"><a href="product.html">MacBook</a></td>
        <td class="quantity">x&nbsp;1</td>
        <td class="total">$589.50</td>
        <td class="remove"><i class="icon-remove "></i></td>
      </tr>
    </tbody>
  </table>
  <table>
    <tbody>
      <tr>
        <td class="textright"><b>Sub-Total:</b></td>
        <td class="textright">$500.00</td>
      </tr>
      <tr>
        <td class="textright"><b>Eco Tax (-2.00):</b></td>
        <td class="textright">$2.00</td>
      </tr>
      <tr>
        <td class="textright"><b>VAT (17.5%):</b></td>
        <td class="textright">$87.50</td>
      </tr>
      <tr>
        <td class="textright"><b>Total:</b></td>
        <td class="textright">$589.50</td>
      </tr>
    </tbody>
  </table>
  <div class="well pull-right">
    <a href="#" class="btn btn-success">View Cart</a>
    <a href="#" class="btn btn-success">Checkout</a>
  </div>
  </li>
</ul>
</li>

