<li class="dropdown hover">
<a data-toggle="" class="dropdown-toggle" href="#">English <b class="caret"></b></a>
<ul class="dropdown-menu language">
  <li><a href="#">English</a>
  </li>
  <li><a href="#">Spanish</a>
  </li>
  <li><a href="#">German</a>
  </li>
</ul>
</li>
