<div  id="categorymenu">
    <div class="container">
      <nav class="subnav" id="taxonomies" data-hook>
      <ul class="nav-pills categorymenu">
        <% get_taxonomies.each do |taxonomy| %>
          <li><%= link_to   Spree.t(taxonomy.name),seo_url(taxonomy.root) %>
          </li>
        <% end %>
      </ul>
      </nav>
    </div>
  </div>

