<nav class="nav-collapse collapse" style="height:0px">
<ul class="nav">
  <li class="active"><a href="index.html">Home</a>
  </li>
  <li><a href="myaccount.html">My Account </a>
  </li>
  <li><a href="shopping-cart.html">Shopping Cart</a>
  </li>
  <li><a href="checkout.html">Checkout</a>
  </li>
</ul>
</nav>
