<!-- Slider Start-->
<section class="slider">
<div class="container">
  <div class="flexslider" id="mainslider">
    <ul class="slides">
      <li>
      <%= image_tag "store/banner1.jpg" %>
      <div class="bannerheading1">Deal of the Day</div>
      <div class="bannerheading2">Stylish Shoes Fashion</div>
      <div class="bannerpriceround">
        <div class="bannerpriceroundinner"><span class="oldprice">$260</span><span class="newprice">$199</span><span class="bestdeal">Best Deal</span></div>
      </div>
      </li>
      <li>
      <%= image_tag "store/banner2.jpg" %>
      <div class="bannerheading1">Today's Glasses</div>
      <div class="bannerheading2">Glasses Match Your Style</div>
      <div class="bannerpriceround">
        <div class="bannerpriceroundinner"><span class="oldprice">$260</span><span class="newprice">$199</span><span class="bestdeal">Best Deal</span></div>
      </div>
      </li>
    </ul>
  </div>
</div>
</section>
<!-- Slider End-->

